<launch>
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <remap from="/scan" to="/laser/scan_merged"/>
        <param name="map_update_interval" value="1" />
        <param name="linearUpdate" value="0.1" />
        <param name="angularUpdate" value="0.1" />
        <param name="temporalUpdate" value="0.5" />
        <param name="xmin" value="-10.0" />
        <param name="ymin" value="-10.0" />
        <param name="xmax" value="10.0" />
        <param name="ymax" value="10.0" />
        <param name="particles" value="300" />
        <param name="maxRange" value="3.0" />
        <param name="maxUrange" value="2.9" />
        <param name="delta" value="0.05" />
        <param name="base_frame" value="base_footprint" />
    </node>
</launch>