<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <remap from="/scan" to="/laser/scan_merged"/>
        <rosparam file="$(find pepper_nav_bringup)/nav_conf/move_base_params.yaml" command="load" />
        <rosparam file="$(find pepper_nav_bringup)/nav_conf/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find pepper_nav_bringup)/nav_conf/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find pepper_nav_bringup)/nav_conf/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find pepper_nav_bringup)/nav_conf/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find pepper_nav_bringup)/nav_conf/base_local_planner_params.yaml" command="load" />
        <rosparam file="$(find pepper_nav_bringup)/nav_conf/move_base_params.yaml" command="load" />
    </node>

    <arg name="map_file" default="clf.yaml" />
    <arg name="map" default="$(arg map_file)" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>

    <include file="$(find pepper_nav_bringup)/launch/amcl.launch">
        <arg name="topic_scan" value="/laser/scan_merged" />
    </include>
</launch>
