<?xml version="1.0"?>
<launch>
  <arg name="launch_control_trajectory_all" default="true"/>

  <!-- Call Pepper Robot Trajectory Controller -->
  <include file="$(find pepper_control)/launch/pepper_control_trajectory.launch" unless="$(arg launch_control_trajectory_all)"/>
  <include file="$(find pepper_control)/launch/pepper_control_trajectory_all.launch" if="$(arg launch_control_trajectory_all)"/>

  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description -urdf -x -0.0 -y 0.0 -z 0.88 -model pepper_MP" />

</launch>
